@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,80');

html {	
	background-color: #fcf9ea;
}

h2,
h3 {

	font-weight: bold;

}

.navbar {

	margin-bottom: 0px

}

a:link {
	color: #ffc5a1;
}

a:visited {
	color: #ffc5a1;
}

a:hover {
	color: #badfdb;
}

.blocktext {
	background-color: #fcf9ea;
	color: #f8a978;
	margin: auto;
}

article {
	margin:1em auto;
	max-width:40em;
	padding:0 .62em;
	font:1.2em/1.62 sans-serif;
}
.center_information {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: auto;
	padding: 225px;
}

/* two equal colums */
.column-i {

	float: left;
	width: 50%;
	padding: 0 4px;

}

.column-i img {

	margin-top: 8px;
	vertical-align: middle;

}

.row {
	color: #f8a978;
	background-color: #fcf9ea;
	display: flex;
	flex-wrap: wrap;
}



.wrapper {
	margin-top: 20px;
	text-align: center;
	font-family: sans-serif;
}
