.Home {
  text-align: left;
}

/* body {
  background-color: #191A19;
  color: #d8e9a8;
  padding: 40px;
  font-family: Arial;
  text-align: center;
} */

a:link {
	color: #1E5128;
}

a:visited {
	color: #1E5128;
}

a:hover {
	color: #4E9F3D;
}

/* .center_information {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: auto;
	padding: 225px;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
